<div class="container">
  <div>
      <h1>
        REMC Test task
      </h1>
    <div class="links">
      {{#link-to "buildings" class="menu-about"}}
        Buildings
      {{/link-to}}
    </div>
  </div>
  <hr>
  <div class="body">
    {{outlet}}
  </div>
</div>
